{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "webextensions": true
  },
  "plugins": ["react-hooks"],
  "extends": [
    "eslint:recommended",
    "plugin:react-hooks/recommended",
    "prettier/@typescript-eslint",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react-hooks/rules-of-hooks": "warn", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn",
    "no-console": "off",
    "no-debugger": "warn",
    "no-restricted-syntax": [
      "warn",
      {
        "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(warn|error|info|trace)$/]",
        "message": "🚧 console.log should only be used in development"
      }
    ],
    "prettier/prettier": "warn",
    "react/prop-types": "off",
    "@typescript-eslint/no-explicit-any": "warn"
  },
  "globals": { "chrome": "writable" }
}
